*__pycache__
*.ipynb_checkpoints/

*.tfrecord
data/
experiments/pretrained_model/
experiments/reference/train/
experiments/reference/eval/
experiments/reference/ckpt*
experiments/augmentation/train/
experiments/augmentation/eval/
experiments/augmentation/ckpt*
.DS_Store
__pycache__
.vscode
